/* 
* {
    box-sizing: border-box;
  } */

body{
    background-color: #778899;
    
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 2s;
    
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1{
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
    
}
img{
    border-radius: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 65%;
    border-radius: 20px;
    margin: auto;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    background-color: white;
    border-radius: 20px;
}
  
.Row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.Column {
    width: 350px;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    overflow: hidden;
    /* line-height: 1.5vw; */
    font-size: 100%;
}

@media screen and (max-width: 600px)  {
    .Row {
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-right: 5%;
    }
    .Column{
        
        /* align-items: center;
        align-content: center; */
        margin: 4vw 3vw;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 80%;
        border-radius: 20px;
        margin: auto;
    }
    
    
}   